/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    background-color: #ffffff; /* Couleur de fond blanche */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 20px;
}

#nameInput {
    background-color: #f7fafc; /* Couleur de fond légère pour la zone de texte */
    border: 1px solid #cbd5e0; /* Bordure gris clair */
    border-radius: 5px;
}

#generateButton, #resetButton, #exportButton, #summaryButton {
    transition: background-color 0.3s ease; /* Transition douce pour le hover */
}

#generateButton:hover {
    background-color: #4299e1;
}

#resetButton:hover {
    background-color: #e53e3e;
}

#exportButton:hover {
    background-color: #48bb78;
}

#summaryButton:hover {
    background-color: #9f7aea;
}

.avatarCard {
    flex: 1 0 150px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease; /* Transition uniquement sur l'ombre du conteneur */
}

.avatarCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #edf2f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Transition douce pour agrandir l'image */
}

/* Effet de survol uniquement sur l'image de l'avatar */
.avatarCard img:hover {
    transform: scale(1.05); /* Agrandissement léger au survol */
}

/* Bordure verte pour l'avatar dont le chronomètre tourne */
.avatarCard img.border-green-500 {
    border-color: #48bb78; /* Couleur verte */
    animation: pulse-border 1.5s infinite; /* Clignotement de la bordure verte */
}

/* Animation de clignotement de la bordure verte */
@keyframes pulse-border {
    0% {
        border-color: #48bb78;
    }
    50% {
        border-color: #a3e635; /* Vert clair pour un effet de pulsation */
    }
    100% {
        border-color: #48bb78;
    }
}

.avatarCard p {
    font-weight: bold;
    margin: 5px 0;
}

.timeLabel {
    font-size: 1.2em;
    color: #4a5568; /* Texte gris foncé */
}
